<%= $game.player1.name %> vs. <%= $game.player2.name %>
<br>
<% if $game.current_player == $game.player1 %>
  <p><%= $game.player2.name %>'s turn</p>
 <% else %>
 <p><%= $game.player1.name %>'s turn</p>
 <% end %>
<%= $game.player2.name %>: <%= $game.player2.hp %> HP
<br>
<%= $game.player1.name %>: <%= $game.player1.hp %> HP
<br>
<a href='/attack'>Attack</a>
